ul {
  list-style-type: none;
}

.pagination {
  display: flex;
  gap: 2px;
}

.active button {
  background-color: aqua;
}

.blog .blogItem {
  animation-name: fadeIn;
  animation-duration: 500ms;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0;
  }
}
